<ion-content>
	<div id="header">
		<h1 id="title">The Good Student</h1>
	</div>
  <div id="home-content">
  	<div class="home-card">
  		<p class="link-text">
  			Emploi<br> 
  			du<br> 
  			temps
  		</p>
  	</div>

  	<div class="home-card">
  		<p class="link-text">Evenements</p>
  	</div>
  	
  	<div class="home-card">
  		<p class="link-text">
  			Notes<br> 
  			rapide
  		</p>
  	</div>
  	
  	<div class="home-card">
  		<p class="link-text">
  			Gestion<br> 
  			du<br> 
  			sommeil
  		</p>
  	</div>
  </div>
</ion-content>

<ion-footer>
	<div id="footer-container" class="d-flex justify-content-end align-items-center pr-3">
		<ion-icon name="information-circle" color="light" [ngStyle]="{transform: 'scale(1.5)'}" class="m-2"></ion-icon>
		<ion-icon name="menu" color="light" [ngStyle]="{transform: 'scale(1.5)'}" class="m-2 ml-4"></ion-icon>
	</div>
</ion-footer>