<ion-header>
	<ion-toolbar color="dark">
    <ion-title>Notes rapides</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="note-container" *ngFor="let note of notes">
		<span class="note-icon">
			<ion-icon slot="icon-only" color="light" [name]="note.type" [ngStyle]="{transform: 'scale(1.5)'}"></ion-icon>
		</span>
		<div class="d-flex justify-content-between align-items-center px-2" [ngStyle]="{width: '100%'}">
			<h3 class="note-title">{{ note.title }}</h3>
			<ion-button color="dark" fill="clear" size="small" [routerLink]="note.id">
				<ion-icon slot="icon-only" name="eye"></ion-icon>
			</ion-button>
		</div>
	</div>
</ion-content>

<ion-footer>
	<ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home" routerLink="/">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add" (click)="onAdd()">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Ajouter</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>