.note-container{
	margin: 10px;
	margin-top: 20px;
	padding: 0px;
	border-radius: 10px;
	border: 1px solid var(--ion-color-dark);
	background: var(--ion-color-light);
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	.note-icon{
		padding: 10px 20px;
		margin: 0px;
		height: 100%;
		background: var(--ion-color-dark);
	}
	.note-title{
		margin: 0px;
		color: var(--ion-color-dark);
		font-family: var(	--app-font-title2)
	}
}