#day{
	color: var(--ion-color-dark);
	font-family: var(--app-font-title2)
}

.day-title{
	text-align: center;
	margin: 20px 0px 10px 0px;
	color: var(--ion-color-dark);
}

.subject-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	.subject{
		margin: 5px;
		//border: 1px solid var(--ion-color-dark);
		border-radius: 20px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        box-shadow: 1px 1px 3px var(--ion-color-dark);
        .subject-hour{
        	background: var(--ion-color-dark);
        	color: var(--ion-color-light);
        	font-size: 15px;
        	margin: 0px;
        	padding: 10px 20px;
        	border-radius: 20px;
            min-width: 150px;
            text-align: center;
        }
        .subject-content{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            padding: 0px 10px;
        	color: var(--ion-color-dark);
            .subject-buttons{
                display: flex;
                align-items: center;
                margin-right: 5px;
            }
        }
	}
}