<ion-header>
	<ion-toolbar color="dark">
    <ion-title>Gestion du sommeil</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div *ngIf="sleepData">
		<div class="clock-container">
			<app-svg class="clock-element clock-bg" name="clock-bg" [ngStyle]="{'text-align': 'center'}"></app-svg>
			<app-svg class="clock-element clock-pointer" [name]="sleepData.rhythm" [rotation]="toAngle(sleepData.begin)" color="dark" [ngStyle]="{'text-align': 'center'}"></app-svg>
		</div>

		<ion-card>
			<ion-item color="dark">
				<ion-label>Rythme</ion-label>
				<ion-select [(ngModel)]="sleepData.rhythm" (ionChange)="onRhythmChange()">
					<ion-select-option value="monophasique">Monophasique</ion-select-option>
					<ion-select-option value="biphasique-one">Biphasique 1</ion-select-option>
					<ion-select-option value="biphasique-two">Biphasique 2</ion-select-option>
					<ion-select-option value="everyman">Everyman</ion-select-option>
				</ion-select>
			</ion-item>

			<ion-card-content>
				<ion-item class="my-1 p-3">
					<ion-text *ngIf="sleepData.rhythm === 'monophasique'" color="dark">
						8 heures ininterrompues de sommeil par jour 
					</ion-text>
					<ion-text *ngIf="sleepData.rhythm === 'biphasique-one'" color="dark">
						4 heures de sommeil, 2 heure d'eveil au milieu et 4 autres heures après
					</ion-text>
					<ion-text *ngIf="sleepData.rhythm === 'biphasique-two'" color="dark">
						6 heures et 20 minutes de sommeil et une sieste de 45 minutes
					</ion-text>
					<ion-text *ngIf="sleepData.rhythm === 'everyman'" color="dark">
						4 heures et 20 minutes de sommeil et 3 siestes de 20 minutes
					</ion-text>
				</ion-item>
				
				<div class="d-flex justify-content-between aligh-items-center mx-2">
					<ion-button color="dark" (click)="onDecHour()"> - </ion-button>
					<ion-item class="">
					  <ion-label>Debut</ion-label>
					  <ion-datetime displayFormat="HH:mm" [(ngModel)]="sleepData.begin" (ionChange)="onHourChange()"></ion-datetime>
					</ion-item>
					<ion-button color="dark" (click)="onIncHour()"> + </ion-button>
				</div>
			</ion-card-content>
		</ion-card>
	
		<ion-card class="mt-4">
			<ion-item color="dark">
				<ion-text>
					<h2 class="m-0" align="center">Infos</h2>
				</ion-text>
			</ion-item>
			<ion-list>
				<ion-item *ngFor="let hourElt of hours">
					<ion-label>{{hourElt.label}}: {{hourElt.hour}}</ion-label>
				</ion-item>
			</ion-list>
		</ion-card>
	</div>
</ion-content>

<ion-footer>
	<ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home" routerLink="/">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
