.note-form{
	margin: 10px;
	border: 1px solid var(--ion-color-dark);
	input{
		width: 100%;
		background: var(--ion-color-dark);
		color: var(--ion-color-light);
		border: none;
		padding: 10px;
		font-family: var(--app-font-title2);
		font-size: 17px;
	}
}