<ion-header>
	<ion-toolbar color="dark">
    <ion-title>Notes rapides</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="note-container" *ngFor="let note of notes">
		<div class="note-header">
			<h3 class="note-title">{{note.title}}</h3>
			<div class="note-buttons">
				<ion-button color="light" fill="clear" size="small" (click)="onEdit(note)">
					<ion-icon slot="icon-only" name="hammer"></ion-icon>
				</ion-button>
				<ion-button color="light" fill="clear" size="small" (click)="onDeleteNote(note.id)">
					<ion-icon slot="icon-only" name="trash"></ion-icon>
				</ion-button>
			</div>
		</div>
		<div class="note-content" *ngIf="note.type === 'text'">
			{{sliceText(note.content)}}
		</div>
		<ul class="note-list" *ngIf="note.type === 'list'">
			<li *ngFor="let elt of sliceArray(note.content)">{{elt.name}}</li>
		</ul>
		<div class="note-link">
			<a [routerLink]="note.id"
				*ngIf="(note.type === 'text' && note.content.length > maxLength) 
								|| (note.type === 'list' && note.content.length > 2)"
			>Voir plus</a>
		</div>
	</div>
</ion-content>

<ion-footer>
	<ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home" routerLink="/">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add" (click)="onAdd()">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Ajouter</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>