.note-container{
	margin: 10px;
	margin-top: 20px;
	padding: 0px;
	border-radius: 3px;
	border: 1px solid var(--ion-color-dark);
	.note-header{
		margin: 0px;
		padding: 5px;
		background: var(--ion-color-dark);
		display: flex;
		justify-content: space-between;
		align-items: center;
		.note-title{
			margin: 0px;
			padding: 0px;
			color: var(--ion-color-light);
			font-family: var(	--app-font-title2)
		}
	}
	.note-content{
		min-height: 10px;
		max-height: 100px;
		overflow: auto;
		padding: 10px;
		line-height: 1.5;
		color: var(--ion-color-dark);
	}
	.note-list{
		padding: 0px;
		margin: 0px;
		    list-style: none;
		li{
			margin: 5px;
			color: var(--ion-color-dark);
		}
	}
	.note-link{
		display: flex;
		padding: 0px 10px 10px 0px;
		justify-content: flex-end;
		a{
			color: var(--ion-color-dark);
			text-decoration: none;
		}
	}
}